@model IEnumerable<FunctionDto>
@using GayQuyTuThien.Extensions
@{
	var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
}

<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

	<!-- Sidebar mobile toggler -->
	<div class="sidebar-mobile-toggler text-center">
		<a href="#" class="sidebar-mobile-main-toggle">
			<i class="icon-arrow-left8"></i>
		</a>
		Navigation
		<a href="#" class="sidebar-mobile-expand">
			<i class="icon-screen-full"></i>
			<i class="icon-screen-normal"></i>
		</a>
	</div>
	<!-- /sidebar mobile toggler -->
	<!-- Sidebar content -->
	<div class="sidebar-content">

		<!-- User menu -->
		<div class="sidebar-user">
			<div class="card-body">
				<div class="media">
					<div class="mr-3">
						<a href="#"><img src="~/assets/admin/global_assets/images/placeholders/placeholder.jpg" width="38" height="38" class="rounded-circle" alt=""></a>
					</div>

					<div class="media-body">
						<div class="media-title font-weight-semibold"> @User.GetSpecificClaim("UserName")</div>
						<div class="font-size-xs opacity-50">
							<i class="icon-pin font-size-sm"></i>  @User.GetSpecificClaim("FullName")
						</div>
					</div>

					<div class="ml-3 align-self-center">
						<a href="#" class="text-white"><i class="icon-cog3"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- /user menu -->
		<!-- Main navigation -->
		<div class="card card-sidebar-mobile">
			<ul class="nav nav-sidebar" data-nav-type="accordion">

				<!-- Main -->
				@foreach (var item in Model.Where(t => t.Level == 0))
				{
					if (Model.Count(t=>t.ParentId == item.Id) == 0)
					{
						string active = routeUrl?.ToLower() == item.Slug.ToLower() ? "active" : "";
						<li class="nav-item">
							<a href="@item.Slug" class="nav-link @active">
								<i class="icon-home4"></i>
								<span>
									@item.Name
								</span>
							</a>
						</li>
					}
					else
					{
						string open = "";
						@*string open = routeUrl == item.Slug ? "nav-item-expanded nav-item-open" : "";*@
						var menu = Model.FirstOrDefault(t => t.Slug == routeUrl?.ToLower());
						var menuParent = new FunctionDto();
						if (menu != null)
						{
							menuParent = Model.FirstOrDefault(t => t.Id == menu.ParentId);
							@*if (menuParent != null)
							{
								open = "nav-item-expanded nav-item-open";
							}*@
						}
						if (menuParent != null)
						{
							if (menuParent.Id == item.Id)
							{
								open = "nav-item-expanded nav-item-open";
							}
						}
						
						<li class="nav-item nav-item-submenu @open">
							<a href="@item.Slug" class="nav-link"><i class="icon-grid"></i> <span>@item.Name</span></a>
							<ul class="nav nav-group-sub" data-submenu-title="Basic components">
								@foreach (var child in Model.Where(t => t.ParentId == item.Id && t.Level == 1))
								{
									string active = routeUrl.ToLower() == child.Slug.ToLower() ? "active" : "";
									<li class="nav-item"><a href="@child.Slug" class="nav-link @active">@child.Name</a></li>
								}
							</ul>
						</li>
					}
				}
				@*<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
				<li class="nav-item">
					<a href="/admin/home" class="nav-link">
						<i class="icon-home4"></i>
						<span>
							Dashboard
						</span>
					</a>
				</li>
				<!-- Components -->
				<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Manager</div> <i class="icon-menu" title="Components"></i></li>
				<li class="nav-item nav-item-submenu">
					<a href="#" class="nav-link"><i class="icon-grid"></i> <span>Post Manager</span></a>
					<ul class="nav nav-group-sub" data-submenu-title="Basic components">
						@if (routeUrl.ToLower() == "/admin/postcategory")
						{
							<li class="nav-item"><a href="/admin/postcategory" class="nav-link active">PostCategory list</a></li>
						}
						else
						{
							<li class="nav-item"><a href="/admin/postcategory" class="nav-link">PostCategory list</a></li>
						}
						@if (routeUrl.ToLower() == "/admin/post")
						{
							<li class="nav-item"><a href="/admin/post" class="nav-link active">Post list</a></li>
						}
						else
						{
							<li class="nav-item"><a href="/admin/post" class="nav-link">Post list</a></li>
						}
						
					</ul>
				</li>*@
				

			</ul>
		</div>
		<!-- /main navigation -->

	</div>
	<!-- /sidebar content -->

</div>